<div class="border-2  shadow-lg bg-gradient-to-tr from-gray-50 to-violet-300 opacity-80 h-5/6  ">
  <div class="m -5 flex flex-row flex-wrap">
        
        <div class="w-1/3 m-5 p-4  bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
           <div class="text-center">
                <h5 class="mb-2 text-2xl font-bold text-gray-600 ">Телеграм бот, формулы!</h5>
                <p class="mb-5 text-base text-gray-600 sm:text-lg ">Телеграм бот с формулами по физике, помогает учить и отслеживает прогресс</p>
                
            </div> 
            <div>
                <ul class="flex flex-col justify-start mt-6 text-lg leading-8 text-gray-600 list-disc">
                    <p class="mb-5 text-base text-gray-500 sm:text-lg ">Для создания :</p>
                    <li> Ruby , telegram-bot-ruby gem</li>
                    <li> БД: sqlite3</li>
                    <li> Deploy: docker</li>
                    <li> Тесты: rspec</li>
                </ul>
            </div>

            <div class="flex flex-row items-center m-5 space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
   
                <a href="https://github.com/Vasi1ek745" target="_blank" class="flex items-center border border-black m-2 p-2 rounded-lg hover:bg-indigo-500">
                    <%= image_tag "gitHubLogo.png" , class:"h-8 mr-3", alt:"Githublogo"  %>
                    <span class="self-center text-lg text-gray-600 whitespace-nowrap ">Github</span>
                </a> 
               <a href="https://t.me/phys_formuls_bot" target="_blank" class="flex items-center border border-black m-2 p-2 rounded-lg hover:bg-indigo-500">
                    <%= image_tag "telegram_icon.png" , class:"h-8 mr-3", alt:"Githublogo"  %>
                    <span class="self-center text-gray-600 text-lg font-semibold whitespace-nowrap ">Bot</span>
                </a>
            </div>
        </div>

                <div class="w-1/3 m-5 p-4  bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
           <div class="text-center">
                <h5 class="mb-2 text-2xl font-bold text-gray-600 ">CRM для самозанятых </h5>
                <p class="mb-5 text-base text-gray-600 sm:text-lg "> Помогает вести расписание и календарь, контролировать оплату, вести базу клиентов</p>
                
            </div> 
            <div>
                <ul class="flex flex-col justify-start mt-6 text-lg leading-8 text-gray-600 list-disc">
                    <p class="mb-5 text-base text-gray-500 sm:text-lg ">Для создания :</p>
                    <li> Ruby on Reals </li>
                    <li> БД: PSQL </li>
                    <li> Deploy: capistrano </li>
                    <li> Тесты: rspec</li>
                </ul>
            </div>

            <div class="flex flex-row items-center m-5 space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
   
                <a href="https://github.com/Vasi1ek745" target="_blank" class="flex items-center border border-black m-2 p-2 rounded-lg hover:bg-indigo-500">
                    <%= image_tag "gitHubLogo.png" , class:"h-8 mr-3", alt:"Githublogo"  %>
                    <span class="self-center text-lg text-gray-600 whitespace-nowrap ">Github</span>
                </a> 
               <a href="https://t.me/phys_formuls_bot" target="_blank" class="flex items-center border border-black m-2 p-2 rounded-lg hover:bg-indigo-500">
                    <%= image_tag "telegram_icon.png" , class:"h-8 mr-3", alt:"Githublogo"  %>
                    <span class="self-center text-gray-600 text-lg font-semibold whitespace-nowrap ">Bot</span>
                </a>
            </div>
        </div>


   
   </div>
</div>
